<a href="https://colab.research.google.com/github/nadaoteif/PandasAsgmt2/blob/main/PandasAsgmt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
                 names = ["age", "workclass", "fnlwgt","education", "education-num","marital-status", "occupation","relationship", "race","sex","capital-gain","capital-loss","hours-per-week","native-country",">50K, <=50K"])
print('The DataFrame is :\n', df)

In [ ]:
#  shape
shape = df.shape 
print('\nDataFrame Shape :', shape)
print('\nNumber of rows :', shape[0])
print('\nNumber of columns :', shape[1])

In [ ]:
#  head
df.head()

In [ ]:
#  tail
df.tail()

In [ ]:
#  describe all numerical features
df.describe(include=['number'])

In [ ]:
#  describe all categorical features
df.describe(include=['category'])

#  describe object features
df.describe(include=['object'])

In [ ]:
#  mean for all numerical columns
df.mean(numeric_only=True)

In [ ]:
#  median for all numerical columns
df.median(numeric_only=True)

In [ ]:
#  mode for all numerical columns
df.mode(numeric_only=True)

In [ ]:
#  standard deviation for all numerical columns
df.std(numeric_only=True)

In [ ]:
#  sum for all numerical columns
df.sum(numeric_only=True)

In [ ]:
#  count for all columns
col = df.columns
print('Number of columns :', len(col))

In [ ]:
#  How many missing values are in each column
df.isnull().sum()

In [ ]:
# value_counts for all categorical columns
df['category'].value_counts()

In [ ]:
# Subset your DataFrame based on one condition
df.loc[[2,4,6]]

In [ ]:
# Subset your DataFrame based on two different conditions
con2=df.loc[[2,4,6],['age','education']]
con2

In [ ]:
# Subset your DataFrame based on three different conditions
con2[df['age'] > 40]

In [ ]:
# Use loc to slice your DataFrame for the 2 columns that returned the largest sum
df.loc[:,['education-num','hours-per-week']].sum().max()

In [ ]:
# Use iloc to slice your DataFrame for the 2 columns that returned the largest mean
df.iloc[:,[4,12]].mean().max()

In [ ]:
#Return the dtypes in the DataFrame.
df.dtypes

In [ ]:
# find non-missing values
df.notnull()